.slider {
    min-height: 742px;
    padding: 108px 0 107px 0;
    transition: all 3s;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__slide {
        display: none;
        &_active {
            display: block;
        }
        img {
            height: 580px;
            width: 750px;
        }
    }
    &__control-next, &__control-prev {
        cursor: pointer;
    }
}
